.pp-page-container {
    height: 100%;
}

.pp-grid-layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100%;
    width: 100%;
}

@media (max-width: 720px) {
    .pp-grid-layout {
        grid-template-columns: 1fr;
        height: auto;
        min-height: 100%;
    }
}
